.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

div.button{
  cursor: pointer;
  display: inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  width: 100px;
  top: 50%;
  border-radius:2em;
  box-sizing: :content-box;
  border: none;
  text-decoration:none;
  font-family: 'Permanent Marker', cursive;
  font-weight:500;
  font-size: 32px;
  color: white;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  }
  div.button:hover{
  background-color:#4095c6;
  }

body {
  background-color: #F39237;
}

h1 {
  margin: 30px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: white;
}

p {
  font-size: 2rem;
  color: white;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
